{% extends 'base.html.twig' %}

{% block body %}
<h1>Testounet</h1>

    <div>{{ mySeries.title }} {{ autreVar }}</div>

<div>
    <div>{{ "now"|date('Y') }}</div>

    {# Crée une Variable #}
    {% set name ="Robin" %}
    <h2>{{ name|upper }}</h2>

    {# Crée un Tableau #}
    {% set colors =["orange", "brown", "turquoise", "blue"] %}
    <div>Nombre de couleurs : {{ colors|length }}</div>
    <div>{{ colors|join('/') }}</div>

    {% for color in colors %}
        <div>{{ loop.index }}</div>
        <div style="background-color: {{ color }}">{{ color }}</div>
    {% endfor %}

    {# Crée un objet #}
    {% set book = {
        title: 'Pifpaf',
        year: 2000,
        author: "John Doe"} %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %}{{ parent() }} | testounet{% endblock %}